html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  max-width: 100%; }

.header {
  height: 80px;
  border-bottom: 1px solid #E5E7E3; }

.topcontent1 {
  width: 1050px;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden; }

.logo {
  display: inline-block;
  clear: both;
  margin-right: 20px;
  box-sizing: border-box;
  float: left;
  width: 75px;
  margin-top: 27px; }

.searchbar {
  width: 350px;
  height: 50px;
  display: inline-block;
  clear: both;
  padding-top: 20px;
  vertical-align: middle;
  margin-bottom: 20px; }
  .searchbar input {
    margin: 0px; }
    .searchbar input.button {
      width: 100px;
      height: 35px;
      border-radius: 0 0.3em 0.3em 0;
      background-color: #51A6C1;
      color: white;
      border: none;
      box-sizing: border-box;
      float: left; }
    .searchbar input.search {
      width: 250px;
      height: 35px;
      border-radius: 0.3em 0 0 0.3em;
      border: 1px solid #E5E7E3;
      box-sizing: border-box;
      float: left; }

.linksnsignin {
  height: 80px;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  margin-left: 200px; }

.account {
  width: 350px;
  height: 80px;
  margin: 0px;
  padding-left: 0px;
  padding-top: 7px;
  list-style: none;
  float: right; }
  .account li {
    height: 40px;
    display: inline-block;
    margin: 5px; }
    .account li a {
      width: 76px;
      color: #0192B5;
      text-decoration: none;
      font-size: 14px; }
      .account li a.cart {
        font-size: 14px;
        color: gray; }
        .account li a.cart:active {
          color: gray; }
        .account li a.cart:hover {
          color: black; }
      .account li a.login1 {
        border: 1px solid #0192B5;
        border-radius: 5px;
        padding: 8px; }

.shop {
  width: 40px; }

.rollin {
  display: inline !important;
  width: 20px; }

.menubelow {
  height: 40px;
  border-bottom: 1px solid #E5E7E3; }

.insidemenu {
  width: 1050px;
  height: 39px;
  margin: 0 auto;
  text-align: center; }
  .insidemenu a {
    display: inline-block;
    margin: 10px 13px 5px;
    font-size: 14px;
    text-decoration: none;
    color: #606060; }
    .insidemenu a:active {
      color: #606060; }
    .insidemenu a:hover {
      color: black; }

.belowcontent {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F1;
  height: 4000px;
  max-width: none; }
  .belowcontent::after {
    clear: both;
    content: "";
    display: table; }

.content {
  width: 1000px;
  height: 4000px;
  margin: 0 auto;
  background-color: #F5F5F1; }

.clearbar {
  width: 1000px;
  height: 30px;
  background-color: #F5F5F1; }

.allmenus {
  width: 25%;
  height: 4000px;
  background-color: #F5F5F1;
  margin-right: 0px;
  float: left; }

.showresults {
  background-color: #F5F5F1;
  text-alight: left;
  font-size: 13px; }

.allcats {
  font-size: 14px; }

.menuone {
  background-color: white;
  border: 1px solid #E1E3DF; }
  .menuone ul {
    list-style: none; }
    .menuone ul li {
      margin-top: 3px;
      margin-bottom: 3px; }
      .menuone ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #3492C4; }
        .menuone ul li aactive {
          color: #3492C4; }

.refineresults {
  background-color: #F5F5F1;
  text-alight: left;
  font-size: 13px; }

.bubbles {
  display: inline; }

.itype {
  font-size: 14px;
  padding-top: 4px; }

.menutwo {
  background-color: white;
  border-right: 10px solid #F5F5F1; }
  .menutwo ul {
    list-style: none; }
    .menutwo ul li {
      margin-top: 5px;
      margin-bottom: 5px; }
      .menutwo ul li a {
        text-decoration: none;
        font-size: 13px;
        color: #3492C4; }
        .menutwo ul li aactive {
          color: #3492C4; }

.piccontent {
  width: 75%;
  height: 4000px;
  margin-right: 0px;
  float: right; }
