body {
  max-width: 100%; }

[contenteditable="true"]:focus {
  outline: none; }

.header {
  width: 116.688em;
  height: 80px; }

.topcontent1 {
  width: 1050px;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box; }

.logo {
  width: 100px;
  height: 50px;
  display: inline-block;
  margin-right: 15px;
  padding-top: 15px;
  text-align: center; }
  .logo a {
    color: #F67000;
    text-decoration: none;
    font-size: 30px; }

.searchbar {
  width: 350px;
  height: 50px;
  display: inline-block;
  padding-top: 20px;
  vertical-align: middle; }
  .searchbar input {
    box-sizing: border-box;
    float: left;
    margin: 0px; }
    .searchbar input.button {
      width: 100px;
      height: 35px;
      border-radius: 0 0.3em 0.3em 0;
      background-color: #51A6C1;
      color: white;
      border: none; }
    .searchbar input.search {
      width: 250px;
      height: 35px;
      border-radius: 0.3em 0 0 0.3em;
      border: 1px solid gray; }

.linksnsignin {
  width: 400px;
  height: 80px;
  float: right;
  vertical-align: middle; }

.account {
  width: 350px;
  height: 80px;
  margin: 0px;
  padding-left: 20px;
  padding-top: 20px;
  list-style: none; }
  .account li {
    height: 20px;
    display: inline-block;
    margin: 5px; }
    .account li a {
      width: 76px;
      color: #0192B5;
      text-decoration: none;
      font-size: 14px; }
      .account li a.cart {
        font-size: 14px;
        color: gray; }
      .account li a.login1 {
        border: 1px solid #0192B5;
        border-radius: 5px;
        padding: 8px; }

.selling {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 710px; }

.register {
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 640px; }

.login {
  position: absolute;
  top: 30px;
  right: 550px; }

.shop {
  position: absolute;
  top: 40px;
  right: 499px; }
  .shop:before {
    content: '';
    position: absolute;
    display: block;
    left: -10px;
    top: -30px;
    bottom: -5px;
    background-color: gray;
    width: 1px; }

.imgsrc1 {
  position: absolute;
  top: 20px;
  right: 505px; }

.rollin {
  width: 20px; }
