<!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="verytop">
    <div class="header">
      <div class="topcontent1">
        <div class="logo">
          <a href="#"><img src="images/etsylogo.png"></a>
        </div>
        <div class="searchbar">
          <input class="search" type="search" placeholder="Search for items or shops">
          <input class="button" type="button" value="Search">
        </div>
        <div class="linksnsignin">
          <ul class="account">
            <li class="selling"><a href="#"><span class="sell">Sell on Etsy<span></a></li>
            <li class="register"><a href="#">Register</a></li>
            <li class="login"><a href="#" class="login1">Sign in</a></li>
            <li class="shop"><a href="#" class="cart"><img class="rollin" src="images/cart.png"><span class="cartword">Cart</span></a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="menubelow">
    <div class="insidemenu">
      <a href="#">Clothing & Accessories</a>
      <a href="#">Jewelry</a>
      <a href="#">Craft Supplies & Tools</a>
      <a href="#">Weddings</a>
      <a href="#">Entertainment</a>
      <a href="#">Home & Living</a>
      <a href="#">Kids & Baby</a>
      <a href="#">Vintage</a>
      
    

    </div>  
  </div>

  
<!--   <div class="container"></div> -->

<script type="text/template" id="itemTemplate">
  <div>
    <img src="<%= Images[0].url_170x135%>">
    <p>
      <%= title%>
    </p>  
    <p>
      <%= price%>
    </p>
    <p>
      
    </p>
  </div>
</script>



  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>
</body>
</html>