<!DOCTYPE html>
<html>
<head>
  <title>Etsy Computer Chair</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="verytop">
    <div class="header">
      <div class="topcontent1">
        <div class="logo">
          <a href="#"><img src="images/etsylogo.png"></a>
        </div>
        <div class="searchbar">
          <input class="search" type="search" placeholder="Search for items or shops">
          <input class="button" type="button" value="Search">
        </div>
        <div class="linksnsignin">
          <ul class="account">
            <li class="selling"><a href="#"><span class="sell">Sell on Etsy<span></a></li>
            <li class="register"><a href="#">Register</a></li>
            <li class="login"><a href="#" class="login1">Sign in</a></li>
            <li class="shop"><a href="#" class="cart"><img class="rollin" src="images/cart.png"><span class="cartword">Cart</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="menubelow">
    <div class="insidemenu">
      <a href="#">Clothing & Accessories</a>
      <a href="#">Jewelry</a>
      <a href="#">Craft Supplies & Tools</a>
      <a href="#">Weddings</a>
      <a href="#">Entertainment</a>
      <a href="#">Home & Living</a>
      <a href="#">Kids & Baby</a>
      <a href="#">Vintage</a>
    </div>  
  </div>

  <div class="belowcontent">
    <div class="content">
      <div class="clearbar">
      </div>
      <div class="allmenus">
        <div class="firstmenu">
          <h3 class="showresults">Show results for:</h3>
          <div class="menuone">
            <h3 class="headings">All Categories</h3>
            <ul>
              <li><a href="#">Home & Living</a></li>
              <li><a href="#">Art & Collectibles</a></li>
              <li><a href="#">Craft Supplies & Tools</a></li>
              <li><a href="#">Electronics & Accessories</a></li>
              <li><a href="#">Paper & Party Supplies</a></li>
              <li><a href="#">Bags & Purses</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Jewelry</a></li>
              <li><a href="#">Toys & Games</a></li>
            </ul>
          </div>
          <h3 class="refineresults">Refine your search</h3>
          <div class="menutwo">
            <div class="radiobuttons">
              <h3 class="headings">Item type</h3>
              <ul>
                <li><label class="bubbles"><input class="radio" type="radio"><a href="#">All Items</a>
                </label></li>
                <li><label class="bubbles"><input class="radio" type="radio"><a href="#">Handmade</a> 
                </label></li>
                <li><label class="bubbles"><input class="radio" type="radio"><a href="#">Vintage</a>
                </label></li>
              </ul> 
            </div>
            <div class="priceinput">
              <h3 class="headings">Price</h3>
              <div class="inputprices">
                <input type="text" placeholder="$Low" class="lo"></input>
                <span>to</span>
                <input type="text" placeholder="$High" class="hi"></input>
                <button class="pricebut"><span class="buticon"></span></button>
              </div>
            </div>
            <div class="filtercolor">
              <h3 class="headings">Filter by color</h3>
              <ul class="clrlist">
                <li class="redstuff"><a href="#"><span>&nbsp</span></a></li>
                <li class="orangestuff"><a href="#"><span>&nbsp</span></a></li>
                <li class="yellowstuff"><a href="#"><span>&nbsp</span></a></li>
                <li class="greenstuff"><a href="#"><span>&nbsp</span></a></li>
                <li class="bluestuff"><a href="#"><span>&nbsp</span></a></li>
                <li class="purplestuff"><a href="#"><span>&nbsp</span></a></li>
                <li class="blackstuff"><a href="#"><span>&nbsp</span></a></li>
                <li class="whitestuff"><a href="#"><span>&nbsp</span></a></li>
              </ul>
            </div>
            <div class="orderoptions">
              <h3 class="headings">Ordering Options</h3>
              <ul class="theoptions">
              <li><input class="checkbox" type="checkbox"><a href="#">Accepts Etsy Gift Cards</a></input></li>
              <li><input class="checkbox" type="checkbox"><a href="#">Customizable</a></input></li>
              </ul>
            </div>
            <div class="orderoptions">
              <h3 class="headings">Shopping Location</h3>
              <ul class="theoptions">
              <li><input class="radio" type="radio"><a href="#">Anywhere</a></input></li>
              <li><input class="radio" type="radio"><a href="#">United States</a></input></li>
              <li><a href="#">Choose a custom location</a></li>
              </ul>
            </div>
            <div class="orderoptions">
              <h3 class="headings">Ship To</h3>
              <select class="selctions">
                <option value="US">United States</option>
              </select>
            </div>            
          </div>
        </div>
        </div>
      <div class="piccontent">
        <div class="topofmain">
          <div class="leftside">
          <a href="#" class="bluetext">All Catergories</a><span> > "computer chair" (161 results)</span>  
          </div>
          <div class="rightside">
          <span>Sort by: <a href="#" class="bluetext">Relevancy</a></span>
          </div>
         </div>
         <div class="container"></div>
         <div class="pageturning">
             <button href="#" class="prevnext">&lt;</button>
             <button href="#" class="numbaz">1</button>
             <button href="#" class="numbaz">2</button>
             <button href="#" class="numbaz">3</button>
             <button href="#" class="numbaz">4</button>
             <button href="#" class="nextprev">&gt;</button>
          </div>
         </div>
         </div>
         </div>
      </div>
      </div>
    </div>
  </div>


  
<!--   <div class="container"></div> -->

<script type="text/template" id="itemTemplate">
  <li class="block">
    <a href="<%= url%>" class="myimages"><div class="favstuff"><img class="imghelp" src="<%= Images[0].url_170x135%>"><input class="hambug" type="image" src="images/hamburger.png"><input class="heart" type="image" src="images/heart.png"></div></a>
    <a href="<%= url%>" class="titleof">
      <%= title%>
    </a>  
    <span class="shopof">
      <a class="shopname" href="<%= Shop.url%>"><%= Shop.shop_name%></a>
    </span>
    <span class="priceof">
      $<%= price%><%= currency_code%>
    </span>    
  </li> 
</script>



  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>
</body>
</html>